@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #131415;
}

.card {
    @apply rounded-md;
}

.btn-group {
    border: 1px solid #454545;
    @apply rounded-full;
}

.btn-group .btn-active {
    background-color: #2c2c2c;
    border-color: #454545;
}

.btn-group button {
    @apply btn-sm;
    @apply text-xs;
    @apply rounded-full;
}

.card-title {
    @apply text-gray-100 font-normal;
    font-size: 24px;
}

.bg-neutral {
    background-color: #181A1C;
}

.card {
    @apply bg-neutral;
    @apply text-neutral-content;
    @apply h-min;
    @apply mt-8;
}

.card-title {
    @apply mb-4;
}

.btn-group > .btn:not(:first-of-type) {
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}

.btn-group > .btn:not(:last-of-type) {
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
}

.progress-primary::-webkit-progress-value {
    background: linear-gradient(270deg, #404EED -0.07%, #2B3BF4 100%);
    border-radius: 4px;
}

.progress-primary {
    height: 12px;
    border-radius: 4px;
    background: rgba(213, 213, 213, 0.1);
}